.counter-slot-machine {
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 200px;
	height: 1em;
}

.slot {
	width: 1ch;
	height: 100%;
}

.dial {
	width: 1ch;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.number {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	transform-origin: center;
}

/* Keyframes for rotating each dial */
@keyframes rotateDial {
	to {
		transform: rotateX(1turn);
	}
}
