.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	height: 1em;
	/* perspective: 200px; */
	overflow: hidden;
}

.dial {
	width: 1ch;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform cubic-bezier(0.165, 0.84, 0.44, 1);
}

.number {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center;
	will-change: transform;
}

@keyframes rotateDial {
	to {
		transform: rotateX(1turn);
	}
}
