.countdown {
	/* perspective: 200px; */
	display: flex;
	overflow: visible hidden;
	font-size: 3em;
}

.dial {
	position: relative;
	width: 1ch;
	height: 1em;
	transform-style: preserve-3d;
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.digit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	height: 100%;
}
